<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title></title>
  <link rel="stylesheet" href="styles.css">
</head>

<body>
  <header>
<a href="/">return</a>
  </header>


<section>
  <section class="robotsAreCool">
    <section class="robots">
{{#users}}{{@username}}{{/users}}{{username}}
{{name}}
{{#skills}}{{.}}{{username}}{{/skills}}
      <h2>{{username}}</h2>

        <img src="{{avatar}}" alt="">
        <h3 class="job">{{job}}</h3>
        {{#skills}}{{.}},{{/skills}}
      </a>
      </section>




</body>
</html>
